<div class='left'>
  <div class="title">List of the translators</div>
  <div class="mb">
    <div class="left"><button ng-click="edit('')">Add a new translator</button></div>
    <div class="left"><button ng-click="saveAll()" ng-disabled="isAnyModified()">Save translators</button></div>
    <div class="right">Filter: <input type="text" ng-model="search" class="search-query" 
                                                  placeholder="Filter" /></div>
  </div>
  <table>
    <tr>
      <th>Email address</th>
      <th>Name</th>
      <th>Languages</th>
      <th><img src="icons/trash.svg" width=16 height=16 title='Delete'></th>
    </tr>
    <tr ng-repeat="t in translators | filter: t_filter(search)"
        ng-click="edit(t.email)" ng-class="getRowClass(t)">
      <td>{{t.email}}</td>
      <td>{{t.name}}</td>
      <td>{{getLangStrings(t.langs)}}</td>
      <td class="red-hover" ng-click="remove(t.email); $event.stopPropagation()">
        <img src="icons/trash.svg" width=16 height=16 title='Delete'>
      </td>
    </tr>
  </table>
</div>
<div id="edit-popup" class="popup-screen">
  <div class="popup-head">Edit translator</div>
  <div class="popup-body">
    <form name="edit-form">
      <p>Name: <input type="text" ng-model="translator.name" required /></p>
      <p>E-mail: <input type="email" ng-model="translator.email" required /></p>
      <p>Languages: {{getLangStrings(translator.langs)}}</p>
      <p>Add or remove language: <select ng-model="lang" ng-change="updateLang()"
                 ng-options="code as language.germanName for (code, language) in languages">
      </select></p>
      <button ng-click="hidePopup('edit-popup')">Cancel</button>
      <button ng-click="save()" ng-disabled="edit-form.$invalid">Save</button>
    </form>
  </div>
</div>

