body {
  font-family: arial;
  margin: 0;
}

body > div > div > ul {
  list-style: none;
  padding: 0;
}

body > div > div > ul > li {
  margin: 17px 0;
}


.menu-item {
  background-color: #706f6f;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 7px 15px;
  text-decoration: none;
}

/* A screen to fade the background image */
.background-screen {
  background-image: url('/maps/images/temp-bg.jpg');
  background-position-x: center;
  height: 100%;
  opacity: 0.6;
  position: fixed;
  width: 100%;
}

.section-div {
  background-image: url('/maps/images/perforated_band_1.png');
  background-position: center;
  background-repeat: repeat-x; 
  background-size: 12px;
  height: 11px;
  width: 100%;
}

/* Left-hand menu */
.language-menu {
}

/* Middle section */

.main-content {
  background-color: white;
  left: 25%;
  position: absolute;
  width: 50%;
}

/* Header */

.header {
  background-color: #fe5c6c;
  color: #fff;
  font-family: Open Sans, Verdana;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 10px 0;
}

.header > div {
  display: table-cell;
  margin: 5px;
}

.header .letter {
  font-size: 3em;
  padding: 0 15px;
}

.header .line {
  border-right: 3px solid #706f6f;
}

.header .desc {
  padding-left: 15px;
  vertical-align: middle;
}

/* Event styles */
.event {
  background-color: #fff;
  color: #706f6f;
  padding: 20px 0;
}

.event > div {
  display: table-cell;
}

.event .date {
  border-right: 2px solid #d5d5d5;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 30px;
  text-align: center;
  width: 100px;
}

.event .date span {
  font-size: 0.7em;
}

.event .date p {
  font-size: 1.2em;
  margin: 0;
}

.event .details {
  padding: 0 30px;
}

.event .details .title {
  font-size: 1.2em;
  font-weight: bold;  
}

.event .details .link a {
  color: #706f6f;
  font-size: 0.9em;
}


/* Calendar styles */
.cal {
  background-color: #fff;
  padding: 20px 40px;
}

.cal-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.cal-title > a {
  color: red;
  text-decoration: none;
}

.cal-title > span {
  color: #706f6f;
  font-size: 0.8em;
  padding: 0 40px;
}

.cal-grid {
  empty-cells: hide;
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
}

.cal-grid td {
  text-align: center;
}

.cal-grid .cal-headers td {
  color: #bababa;
}

.cal-grid .cal-body td {
  background-color: #fe5c6c;
  color: #fff;
  cursor: pointer;
}

.cal-grid .cal-body .selected {
  background-color: #706f6f;
}



/* Right-hand menu */
.right-menu {
  margin-right: -50%;
  position: absolute;
  right: 0;
  text-align: right;
  top: 150px;
}

.newsletter {
  background-color: #706f6f;
  color: #fff;
  overflow-wrap: break-word;
  padding: 7px 15px;
  text-align: left;
  text-decoration: none;
  width: 250px;
}

.newsletter > div:first-child,
.newsletter > div:last-child {
  font-size: 1em;
  font-weight: bold;
}

.newsletter-text {
  font-size: .8em;
  font-weight: normal;
}

.newsletter-text input,
.newsletter-text select {
  border: 1px solid #fe5c6c;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  outline: none;
  padding: 3px;
  width: 95%;
}


.newsletter-section-div {
  background-image: url('/images/perforated_band_2.png');
}



@media screen and (min-width: 801px) {
  .language-menu {
    margin-left: -50%;
    position: absolute;
    top: 150px;
  }
}


@media screen and (max-width: 800px) {
  body > div > div > ul > li {
    margin: 0 5px 10px 0;
  }

  .menu-item {
    font-size: 0.8em;
    padding: 5px 10px;
  }

  .language-menu {
  }

  .right-menu {
    margin-right: 0;
    position: relative;
    right: 0;
    text-align: left;
    top: 0;
  }

}