<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  
  <servlet>
    <servlet-name>Servlet_CSS</servlet-name>
    <servlet-class>ch.aoz.maps.Servlet_CSS</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>Servlet_CSS</servlet-name>
     <url-pattern>/content/style/look_and_feel.css</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Servlet_Data</servlet-name>
    <servlet-class>ch.aoz.maps.Maps_DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Data</servlet-name>
    <url-pattern>/maps/data</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Maps_AdminData</servlet-name>
    <servlet-class>ch.aoz.maps.Maps_AdminDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Maps_AdminData</servlet-name>
    <url-pattern>/admin/data</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>Maps_AdminBackgroundImages</servlet-name>
  	<servlet-class>ch.aoz.maps.Maps_AdminBackgroundImagesServlet</servlet-class>
  </servlet><servlet-mapping>
  	<servlet-name>Maps_AdminBackgroundImages</servlet-name>
  	<url-pattern>/admin/background_images</url-pattern>
  </servlet-mapping>

  <security-constraint>
     <web-resource-collection>
       <url-pattern>/admin/*</url-pattern>
       <url-pattern>/admin2/*</url-pattern>
     </web-resource-collection>
     <auth-constraint>
       <role-name>admin</role-name>
     </auth-constraint>
  </security-constraint>
    
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
    <welcome-file>translate.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>