<div class="background-color"></div>
<div class="background-screen"></div>

<div class="sidebar" >
  <ul>
    <li ng-repeat="(code, l) in languages">
      <a href="" ng-click="updateLang(code)" ng-bind-html="l.name_br"></a>
    </li>
  </ul>
</div><!-- sidebar -->

<div class="sidebar nav">
  <ul>
    <li><a ui-sref="main.about">{{phrases.UeberMAPS}}</a></li>
    <li><a ui-sref="main.contact">{{phrases.Kontakt}}</a></li>
    <li><a ui-sref="main.impressum">{{phrases.Impressum}}</a></li>
  
  <div class="newsletter">{{phrases.Newsletter}}</div>
  <div class="section-div newsletter-section-div"></div>
  <div class="newsletter newsletter-text">
    <span>{{phrases.AnmeldungNewsletter}}</span>
    <p>
      <select ng-model="newsletter_lang" 
              ng-options="code as language.name for (code, language) in languages"></select>
      <br>
      <input ng-model="name" type="text" placeholder="Name">
      <input ng-model="email" type="text" placeholder="Email address">
    </p>
  </div>
  <div class="section-div newsletter-section-div"></div>
  <div class="newsletter"><a href="" class="menu-item" ng-click="register();">{{phrases.Anmelden}}</a></div>
  
    <li ng-repeat="tag in tags"><a href="">{{phrases[tag]}}</a></li>
  </ul>
</div><!-- sidebar -->

<div class="container">
  <div class="content">
    <h1>
      <span>M</span>
      <span>A</span>
      <span>P</span>
      <span>S</span>
      ZÜRI<br>AGENDA
    </h1>
    <h2>Günstige Kultur- und Freizeitangebote</h2>
    <div class="section-div"></div>
    <div class="white">
      <form action="." id="language" method="post" name="language">
        <label for="lang">Language</label> 
        <select ng-model="lang" ng-change="updateLang(null)"
                ng-options="code as language.name for (code, language) in languages"></select>
      </form>
    </div>
    <div ui-view></div>

    <p class="content-nav"><strong>Use JS to move the right column content to the footer area</strong></p>

  </div><!-- content -->
</div><!-- container -->