<div class="background-color"></div>
<div class="background-screen"></div>

<div class="sidebar" >
  <p class="plink" ng-repeat="(code, l) in languages" 
                   ng-click="updateLang(code)">{{l.name}}</p>
</div><!-- sidebar -->

<div class="sidebar nav">
  <p class="plink" ui-sref="main.about">{{phrases.UeberMAPS}}</p>
  <p class="plink" ui-sref="main.contact">{{phrases.Kontakt}}</p>
  <p class="plink" ui-sref="main.impressum">{{phrases.Impressum}}</p>
  
  <div class="newsletter">{{phrases.Newsletter}}</div>
  <div class="section-div newsletter-section-div"></div>
  <div class="newsletter newsletter-text">
    <span>{{phrases.AnmeldungNewsletter}}</span>
    <p>
      <select ng-model="newsletter_lang" 
              ng-options="code as language.name for (code, language) in languages"></select>
      <br>
      <input ng-model="name" type="text" placeholder="Name">
      <input ng-model="email" type="text" placeholder="Email address">
    </p>
  </div>
  <div class="section-div newsletter-section-div"></div>
  <div class="newsletter"><a href="" class="menu-item" ng-click="register();">{{phrases.Anmelden}}</a></div>
  
  <p class="plink" ng-repeat="tag in tags">{{phrases[tag]}}</p>
</div><!-- sidebar -->

<div class="container">
  <div class="content">
    <div class="header-background">
    <div class="header">
      <div class="mapsletter"><div class="letter">M</div></div>
      <div class="mapsletter"><div class="letter">A</div></div>
      <div class="mapsletter"><div class="letter">P</div></div>
      <div class="mapsletter"><div class="letter">S</div></div>
      <div class="desc">ZÜRI<br>AGENDA</div>
    </div>
    <div class="header-subtitle">Günstige Kultur- und Freizeitangebote</div>
    </div>
    <div class="section-div"></div>
    <div class="white">
      <form action="." id="language" method="post" name="language">
        <label for="lang">Language</label> 
        <select ng-model="lang" ng-change="updateLang(null)"
                ng-options="code as language.name for (code, language) in languages"></select>
      </form>
    </div>
    <div ui-view class="white"></div>

    <p class="content-nav"><strong>Use JS to move the right column content to the footer area</strong></p>

  </div><!-- content -->
</div><!-- container -->