@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
  font-family: sans-serif;
  margin: auto;
  padding: 0;
}

.sidebar {
  /* background: lime; */
  float: left;
  min-height: 400px;
  overflow: visible;
  width: 182px;
  padding-top: 146px;
}

.sidebar ul {
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.sidebar ul a {
  background-color: #706f6f;
  color: #fff;
  display: inline-block;
  font-size: .8em;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0 0 4px 0;
  padding: 5px 11px;
  text-decoration: none;
  text-transform: uppercase;
}

.sidebar.nav {
  float: right;
}

.sidebar.nav ul li {
  text-align: right;
}

.container {
  margin: 0 242px;
}

.content {
  margin: auto;
  max-width: 850px;
  min-height: 400px;
}

.white {
  background: white;
  padding: 10px;
  margin: 0px;
}

.section-div {
  background-image: url('/maps2/images/perforated_band_1.png');
  background-position: center;
  background-repeat: repeat-x; 
  background-size: 12px;
  padding: 0px;
  margin: 0px;
  height: 11px;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .container {
    margin: 0 220px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0 200px;
  }
}

@media screen and (min-width: 768px) {
  #language,
  .content-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #language
  .content-nav {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .container {
    margin: 0 40px;
  }
  .content {
    max-width: 570px;
  }
}

@media screen and (max-width: 599px) {
  .container {
    margin: 0;
  }
}

/* Header */

h1 {
  background: #fe5c6c;
  border-top: 30px solid #fff;
  color: #fff;
  font-family: Open Sans, Verdana;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  padding: 4px 0 4px 0;
}

h1 span {
  border-right: 7px solid #706f6f;
  font-family: HouschkaAltPro-Bold;
  font-size: 3em;
  font-weight: normal;
  margin: 0 -10px 0 0;
  padding: 0 15px;
}

h1 span.title {
  border: none;
  display: inline-block;
  font-size: 123%;
  letter-spacing: 2px;
  line-height: 100%;
  margin-left: 30px;
  padding: 0;
  width: 150px;
}

h2 {
  background: #fff;
  color: #706f6f;
  font-family: 'Arvo', Times New Roman;
  font-size: 100%;
  margin: 0;
  padding: 1em 0 1em 17px
}

/* Background */

.background-color {
  background-color: #fe5c6c;
  height: 100%;
  opacity: 1.0;
  position: fixed;
  width: 100%;
  z-index: -2;
}

.background-screen {
  background-image: url('/maps2/images/temp-bg.png');
  background-position-x: center;
  background-size: cover;
  height: 100%;
  opacity: 1.0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

/* Newsletter */

.newsletter {
  background-color: #706f6f;
  color: #fff;
  overflow-wrap: break-word;
  padding: 7px 15px;
  text-align: left;
  text-decoration: none;
  width: 250px;
}

.newsletter > div:first-child,
.newsletter > div:last-child {
  font-size: 1em;
  font-weight: bold;
}

.newsletter-text {
  font-size: .8em;
  font-weight: normal;
}

.newsletter-text input,
.newsletter-text select {
  border: 1px solid #fe5c6c;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  outline: none;
  padding: 3px;
  width: 95%;
}

.newsletter-section-div {
  background: url('/maps2/images/perforated_band_2.png'); 
  repeat-x scroll;
}

/* Events header styles */

.event-nav {
  background-color: white;
  overflow: hidden;
  padding-bottom: 10px;
}

.event-nav > .prev,
.event-nav > .next {
  background-repeat: no-repeat;
  color: #707070;
  cursor: pointer;
  font-size: 90%;
  margin: 0;
  padding: 35px 10px 0 10px;
  text-transform: uppercase;
  width: 120px;
}

.event-nav > .prev {
  float: left;
  background-position: right top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAZAgMAAADGVn8BAAAAA3NCSVQICAjb4U/gAAAACVBMVEX////KysptbW3XKDrrAAAAA3RSTlMA//9EUNYhAAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAADpJREFUCJljYGBgnMAABWxLYCwpOCsLJsu4ygGmbCX5ylaBQAOQtQrOQogh1CH0IsxD2EGWQjgL6l8A7dweLwD1UgkAAAAASUVORK5CYII=);
  border-right: 2px solid #fe5c6c;
  text-align: right;
}

.event-nav > .next {
  float: right;
  background-position: 10px top;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAAA3NCSVQICAjb4U/gAAAACVBMVEX////MzMxra2sQ7g2LAAAAA3RSTlMA//9EUNYhAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAADdJREFUCJljYGBgnMAABmxLoPRKCM24ygHCyIIqkCJFwSowcIDSDXA+sgEw9VD9jKRJw9wLdj8As60eEZMk7MQAAAAASUVORK5CYII=);
  border-left: 2px solid #fe5c6c;
}

.event-nav > .prev > div,
.event-nav > .next > div {
  font-size: .8em;
}

/* Event styles */

.event {
  background-color: #fff;
  color: #706f6f;
  padding: 20px 0;
}

.event > div {
  display: table-cell;
}

.event .date {
  border-right: 2px solid #d5d5d5;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 30px;
  text-align: center;
  width: 100px;
}

.event .date span {
  font-size: 0.7em;
}

.event .date p {
  font-size: 1.2em;
  margin: 0;
}

.event .details {
  padding: 0 30px;
}

.event .details .title {
  font-size: 1.2em;
  font-weight: bold;  
}

.event .details .link a {
  color: #706f6f;
  font-size: 0.9em;
}

.event .details .location p {
  padding: 0 30px;  
}

.event .details .location a {
  color: #706f6f; 
}

/* Calendar styles */

.cal {
  background-color: #fff;
  padding: 20px 40px;
}

.cal-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.cal-title > a {
  color: red;
  text-decoration: none;
}

.cal-title > span {
  color: #706f6f;
  font-size: 0.8em;
  padding: 0 40px;
}

.cal-grid {
  empty-cells: hide;
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
}

.cal-grid td {
  text-align: center;
}

.cal-grid .cal-headers td {
  color: #bababa;
}

.cal-grid .cal-body td {
  background-color: #fe5c6c;
  color: #fff;
  cursor: pointer;
}

.cal-grid .cal-body .selected {
  background-color: #706f6f;
}

