body {
  font-family: sans-serif;
  margin: auto;
  padding: 0;
}

.sidebar {
  /* background: lime; */
  float: left;
  min-height: 400px;
  overflow: visible;
  width: 182px;
}

.sidebar p {
  background-color: #706f6f;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 7px 15px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar.nav {
  float: right;
}

.container {
  margin: 0 242px;
}

.content {
  margin: auto;
  max-width: 850px;
  min-height: 400px;
  padding: 20px;
}

.white {
  background: white;
  padding: 10px;
  margin: 0px;
}

.section-div {
  background-image: url('/maps/images/perforated_band_1.png');
  background-position: center;
  background-repeat: repeat-x; 
  background-size: 12px;
  padding: 0px;
  margin: 0px;
  height: 11px;
  width: 100%;
}

.plink {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .container {
    margin: 0 220px;
  }
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0 200px;
  }
}

@media screen and (min-width: 768px) {
  #language,
  .content-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #language
  .content-nav {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .container {
    margin: 0 40px;
  }
  .content {
    max-width: 570px;
  }
}

@media screen and (max-width: 599px) {
  .container {
    margin: 0;
  }
}

/* Header */

.header-background {
  background-color: #ffffff;
  color: #706f6f;
  padding: 20px 0 10px 0;
}

.header {
  background-color: #fe5c6c;
  color: #fff;
  font-family: Open Sans, Verdana;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 4px 0 4px 0;
}

.header-subtitle {
  font-family: Georgia, Times New Roman;
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px 0 5px 20px;
}

.header > div {
  display: table-cell;
  margin: 5px;
}

.header .mapsletter .letter {
  font-family: HouschkaAltPro-Bold;
  font-size: 3em;
  padding: 0 15px;
  margin: -12px 0 -15px 0;
}

.header .mapsletter {
  border-right: 8px solid #706f6f;
}

.header .desc {
  font-family: HouschkaAltPro-Bold;
  padding-left: 15px;
  vertical-align: middle;
}

/* Background */

.background-color {
  background-color: #fe5c6c;
  height: 100%;
  opacity: 1.0;
  position: fixed;
  width: 100%;
  z-index: -2;
}

.background-screen {
  background-image: url('/maps2/images/temp-bg.png');
  background-position-x: center;
  background-size: cover;
  height: 100%;
  opacity: 1.0;
  position: fixed;
  width: 100%;
  z-index: -1;
}

/* Newsletter */

.newsletter {
  background-color: #706f6f;
  color: #fff;
  overflow-wrap: break-word;
  padding: 7px 15px;
  text-align: left;
  text-decoration: none;
  width: 250px;
}

.newsletter > div:first-child,
.newsletter > div:last-child {
  font-size: 1em;
  font-weight: bold;
}

.newsletter-text {
  font-size: .8em;
  font-weight: normal;
}

.newsletter-text input,
.newsletter-text select {
  border: 1px solid #fe5c6c;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  outline: none;
  padding: 3px;
  width: 95%;
}

.newsletter-section-div {
  background: url('/maps/images/perforated_band_2.png'); repeat-x scroll;
}
