<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Maps Agenda</title>
    <meta content-type="text/html" charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/maps/styles/main.css">
       <script src="/maps/scripts/angular.min.js"></script>
	    <script src="/maps/scripts/main.js"></script>
	    <script src="/maps/scripts/menu.js"></script>
	    <script src="/maps/scripts/events.js"></script>
	    <script src="/maps/scripts/calendar.js"></script>
  </head>
  <body>
    <div class="background-screen"></div>
    <div class="main-content">
      <div class="header">
        <div class="letter line">M</div>
        <div class="letter line">A</div>
        <div class="letter line">P</div>
        <div class="letter line">S</div>
        <div class="desc">ZÜRI<br>AGENDA</div>
      </div>

      <div ng-controller="LanguageMenuCtrl" class="language-menu">
        <ul>
          <li ng-repeat="language in languages">
            <a ng-href="#lang={{language.code}}" class="menu-item">{{language.label}}</a>
          </li>
        </ul>
      </div>

      <div class="section-div"></div>
      <div ng-controller="EventsCtrl" ng-init="queryEvents()">
        <div class="event-nav">
          <div ng-click="showPreviousEvents()" class="prev">
            ⤎
            <div i18n="Frueher">Earlier</div>
          </div>
          <div ng-click="showNextEvents()" class="next">
            ⤏
            <div i18n="Spaeter">Later</div>
          </div>          
        </div>

        <div ng-repeat="event in events">
          <div class="event">
            <div class="date">
              <span class="day">{{printDay(event.date)}}</span>
              <p>{{printDate(event.date)}}</p>
            </div>
            <div class="details">
              <p class="title">{{event.title}}</p>
              <p class="desc">{{event.description}}</p>
              <p class="link">
                <a href="{{event.url}}" target="_blank">{{event.url}}</a>
              </p>
            </div>
          </div>
          <div class="section-div"></div>

        </div>
      </div>


      <div ng-controller="CalendarCtrl" ng-init="renderCalendar()" class="cal">
        <div class="cal-title">
          <a href="" ng-click="movePivotBack();">⤎</a>
          <span>{{getMonth()}}</span>
          <a href="" ng-click="movePivotForward();">⤏</a>
        </div>
        <table class="cal-grid">
          <tr class="cal-headers">
            <td ng-repeat="title in titles">{{title}}</td>
          </tr>
          <tr ng-repeat="week in weeks" class="cal-body">
            <td ng-repeat="day in week" class="{{isSelected(day)}}" ng-click="selectDate(day);">{{day}}</td>
          </tr>
        </table>
      </div>

      <div class="right-menu">
        <ul>
          <li><a href="#" class="menu-item" i18n="UeberMAPS">About maps</a></li>
          <li><a href="#" class="menu-item" i18n="Kontakt">Contact</a></li>
          <li><a href="#" class="menu-item" i18n="Impressum">Impressum</a></li>
        </ul>
        <div class="newsletter" i18n="Newsletter">Newsletter</div>
        <div class="section-div newsletter-section-div"></div>
        <div class="newsletter newsletter-text">
          <span i18n="AnmeldungNewsletter">Erhalten Sie die MAPS-Agenda einmal monatlich in Ihrer Sprache per E-Mail</span>
          <p>
            <select>
            </select>
            <br><input type=“text”>
          </p>
        </div>
        <div class="section-div newsletter-section-div"></div>
        <div class="newsletter" i18n="Anmelden">Anmelden</div>
        <ul>
          <li><a href="#" class="menu-item">Label 1</a></li>
          <li><a href="#" class="menu-item">Label 11111</a></li>
          <li><a href="#" class="menu-item">Label 111</a></li>
        </ul>
      </div>
    </div>
    <script>common.applyLanguageDict();</script>
  </body>
</html>